body {
  background-color: blue;
  font-size: 3vh;
}
.container {
  width: 33%;
  display: flex;
  flex-direction: column;
  position: fixed;

  height: 75vh;
}
.white-strip-a {
  border: 0.1vh solid black;
  border-radius: 3%;
  width: 100%;
  height: 6vh;
  background-color: #ffffff;
  position: absolute;

  z-index: 2;
  color: white;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.black-strip-1 {
  border: 0.1vh solid black;
  height: 4vh;
  border-radius: 10%;
  background-color: #000;
  width: 50%;
  position: relative;
  margin-top: 4vh;
  z-index: 3;
  transition: 0.5s;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.white-strip-b {
  border: 0.1vh solid black;
  border-radius: 3%;
  width: 100%;
  height: 6vh;
  background-color: #ffffff;
  position: absolute;
  margin-top: 6vh;
  z-index: 2;
  color: white;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.black-strip-2 {
  border: 0.1vh solid black;
  height: 4vh;
  border-radius: 10%;
  background-color: #000;
  margin-top: 2vh;
  width: 50%;
  position: relative;
  z-index: 3;
  transition: 0.5s;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.white-strip-c {
  border: 0.1vh solid black;
  border-radius: 3%;
  width: 100%;
  height: 6vh;
  background-color: #ffffff;
  position: absolute;
  margin-top: 12vh;
  z-index: 2;
  color: white;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.white-strip-d {
  border: 0.1vh solid black;
  border-radius: 3%;
  width: 100%;
  height: 6vh;
  background-color: #ffffff;
  position: absolute;
  margin-top: 18vh;
  z-index: 2;
  color: white;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.sec1,
.sec2,
.sec3 {
  height: 24vh;
  display: flex;
  flex-direction: column;
}

.container section div {
  transition: 0.5s;
}
.white-strip-a:hover {
  transition: ease-in-out;
  box-shadow: inset 0.5vh 1vh 3vh black, 0vh 0.5vh 1vh black;
  color: #000;
}
.white-strip-b:hover {
  transition: ease-in-out;
  box-shadow: inset 0.5vh 1vh 3vh black, 0vh 0.5vh 1vh black;
  color: #000;
}
.white-strip-c:hover {
  transition: ease-in-out;
  box-shadow: inset 0.5vh 1vh 3vh black, 0vh 0.5vh 1vh black;
  color: #000;
}
.white-strip-d:hover {
  transition: ease-in-out;
  box-shadow: inset 0.5vh 1vh 3vh black, 0vh 0.5vh 1vh black;
  color: #000;
}
.black-strip-1:hover {
  transition: ease-in-out;
  box-shadow: inset 0.5vh 1vh 3vh rgb(255, 255, 255),
    0vh 0.5vh 1vh rgb(59, 57, 57);
  color: #fff;
}
.black-strip-2:hover {
  transition: ease-in-out;
  box-shadow: inset 5vh 1vh 3vh rgb(255, 255, 255),
    0vh 0.5vh 1vh rgb(59, 57, 57);
  color: #fff;
}
span {
  margin-right: 2vw;
}
